# Python bytecode
__pycache__/
*.pyc

# Virtual environment
.venv/

# Build artifacts (générés par pip install -e .)
build/
dist/
*.egg-info/

# pytest
.pytest_cache/

# OS
Thumbs.db
.DS_Store

# IDE
.vscode/
.idea/
